{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Blog Django - {{ title }}</title>
    {% else %}
        <title>Meu Blog em Django!</title>
    {% endif %}
</head>

<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>
    <div class='main'>
        <div class='content'>
            {% block content %}{% endblock content %}
        </div>
        <div class='sidebar'>
        qweqwe
        </div>
    </div>

</body>

</html>